@import url(http://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab:300,400|Archivo+Narrow);

html, body
{
    height: 100%;
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body
{
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 50px;
    color: #4E565C;
}

.navbar-fixed-top {
    padding-top: 15px;
    border-top: 15px solid #3fc3cf;
    background-color: white;
    padding-bottom: 15px;
}

.navbar-brand {
    position: relative;
    top: -25px;
}

.block-icon {
    width: 85px;
    height: 85px;
    z-index: 1500;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    position: fixed;
    float: left;
    background: #F1A606;
    line-height: 50px;
    border: solid white 5px;
    padding-top: 12px;
    align-content: center;
    vertical-align: middle;
}

.block-icon-title {
    padding-left: 85px;
    font-size: 30;
    padding-top: 35;
    color: black;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

.block-icon > img
{
    padding-left: 12.5px;
    margin-top: 5;
}

.block-icon > img.hat
{
      padding-left: 9;
  margin-top: 9;
}

.navbar-nav>li>.dropdown-menu {
  margin-left:25px;
    background-color: #C1d835;
    margin-top: -10px;
}

.dropdown-menu > li
{
    border-bottom: 1px solid white;
}


.dropdown-menu-spacer {
    line-height: 40px;
}

li.open>a>.block-icon
{
    background-color: #c1d835;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background:none;
  background-color: #b2e7ec;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000;
  padding: 1px;
  font-family: 'PT Sans';
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

footer {
  background: #4E565C;
  border-top: solid #C1D835 5px;
  color: #BDC3C7;
  font-size: 11px;
  line-height: 25px;
  font-family: 'PT Sans',sans-serif;
}

footer p {
  color: #BDC3C7;
  font-size: 12px;
  line-height: 18px; }

footer .footer-col-mainlinks {
  border-left: solid white 1px; }

footer .footer-col-logos img {
  margin-top: 25px;
  margin-right: 25px; }

footer .footer-col-logos a:hover, footer .footer-col-logos a:focus {
  background-color: transparent; }


footer ul {
  list-style: none;
  padding-left: 0; }

footer ul h3 {
  margin-bottom: 5px;
  color: #FFF;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 8px; }

footer a {
  color: #FFF; }

footer a:visited {
  color: #FFF; }

.footer-after {
  background: #4E565C;
  padding: 20px 0;
  font-size: 12px; }

.footer-after p {
  color: #fff;
  margin: 0; }

.footer-after a {
  color: #FFF; }

.footer-after a:hover {
  color: #7f8c8d;
  text-decoration: none; }